.field {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  background-image: url("/assets/img/board.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-stack {
  position: relative;
  > img {
    position: absolute;
    width: 120px;
  }
}

.top-card {
  cursor: pointer;
  transition: all 150ms ease-in-out;
  &:hover {
    transform: scale(1.05) translateY(-10px);
  }
}

.played-card {
  transform: scale(1.15) translateY(-180px) translateX(140px) rotate(-10deg);
  right: 20px;
}

.pick-card {
  animation: pick-card-animation 1s ease-in-out;
  transform: scale(1.15) translateY(-180px) translateX(140px) rotate(-10deg);
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.25);
  }
  60% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.15) translateY(-180px) translateX(140px) rotate(-10deg);
  }
}

.player-position {
  position: absolute;
  right: 0;
}

.btn-add {
  position: absolute;
  right: 32px;
  bottom: 32px;
}

.pin-bottom {
  position: absolute;
  bottom: 32px;
  left: 80px;
  width: 650px;
}

.game-over-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: rgba($color: #000000, $alpha: 0.55);
  > img {
    height: 98vh;
    width: 98vw;
  }
}
